@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%; // 1rem = 10px
  overflow: hidden;
}

.app {
  display: flex;
  height: 100vh;
}

.heading-primary {
  font-size: 6rem;
}

.heading-secondary {
  font-size: 4rem;
}

.heading-tertiary {
  font-size: 2rem;
}
