@import '../../styles/variables';

.wip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 2rem;

  &__icon {
    height: 60vh;
    width: 60vw;
  }

  &__text {
    color: $color-secondary;
    font-size: 6rem;
  }
}
